*, :after, :before {
    box-sizing: border-box;
    outline: none;

    /*overflow: hidden;*/
}

body {
    background: #1b1b1b;
}

header {
    display: block;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

section {
    display: block;
}

#app {
    /*background: #1b1b1b;*/
    border-color: black;
    background-size: auto 2654px;
    background-position: 0 0;
    min-height: 100vh;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    /*overflow-y: auto;*/
}

.header_container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #062d44;
}

.a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
    background-color: transparent;
}


/*
1 container
*/
.calculator__wrap {
    padding-top: 45px;
    padding-bottom: 108px;
    /*border-bottom: 1px solid #062d44;*/
    margin-bottom: -100px;
    /*display: none;*/
}

.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.calculator__header {
    font-size: 48px;
    font-weight: 700;
    font-stretch: condensed;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 27px;
}


.calculator__type {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 36px;
}


.calculator .select {
        position: relative;
}

.calculator__hour {
    margin-right: 26px;
}

.calculator__time-wrap {
    letter-spacing: .7px;
    font-size: 72px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 7px;
}

.calculator .select__dropdown {
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: #15224d;
    width: 79%;
    text-align: center;
    padding: 28px;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: .3px;
    color: #2d4e78;
    height: 423px;
    overflow: auto;
}

.calculator .select__option {
    cursor: pointer;
    transition: .3s;
}

.calculator__separator {
    font-size: 48px;
    letter-spacing: .5px;
    font-stretch: condensed;
}

.calculator__time {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px;
}

.calculator__btn {
    width: 254px;
    height: 69px;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 24px;
    letter-spacing: .2px;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
    margin: 0 auto;
}

.calculator__btnZzz {
    width: 254px;
    height: 69px;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 24px;
    letter-spacing: .2px;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
    margin: 0 auto;
}

.calculator__text {
    font-size: 24px;
    font-weight: 700;
    font-stretch: condensed;
    letter-spacing: .3px;
    margin: 0 auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 30px;
    margin-bottom: 30px;
}

.calculator__type {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 36px;
}

.footer__wrap {
    background-color: #00182b;
    padding-top: 30px;
    padding-bottom: 30px;
    /*display: table-row;*/
    /*top: 100%;*/

}

.share {
    padding: 20px;
    display: none;
}

.footer {
    background-color: #00182b;
    line-height: 1.56;
    letter-spacing: .2px;
    /*font-weight: 300;*/
    position: absolute;
    left: 0;
    bottom: auto;
    width: 100%;
    height: 80px;
    display: table-row;
    /*top: 100%;*/
    margin-top: 80px;
}


/*
2 container
*/
.result__wrap {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    /*border-bottom: 1px solid #009aff;*/
    margin-bottom: 30px;
    position: relative;
    display: none;
}


/*
3 container
*/
.calculator__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .4px;
    font-stretch: condensed;
}

.result__wrap3 {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    /*border-bottom: 1px solid #009aff;*/
    margin-bottom: 30px;
    position: relative;
    display: none;
}

.result__time {
    border-radius: 5px;
    border: 1px solid #009aff;
    padding: 10px;
    font-size: 36px;
    letter-spacing: .4px;
    display: inline-block;
    margin-bottom: 12px;
}

.result__text {
    font-size: 20px;
    font-stretch: condensed;
    line-height: 1.62;
    letter-spacing: .2px;
    margin: 0 auto 30px;
}


.result__restart1 {
    border-radius: 5px;
    border: 1px solid #009aff;
    padding: 10px;
    /*font-size: 36px;*/
    letter-spacing: .4px;
    /*display: inline-block;*/
    margin-bottom: 12px;
    cursor: pointer;
    display: block;
    margin-left: 45%;
    margin-right: 45%;
}

.result__restart2 {
    border-radius: 5px;
    border: 1px solid #009aff;
    padding: 10px;
    /*font-size: 36px;*/
    letter-spacing: .4px;
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
    margin-left: 45%;
    margin-right: 45%;
}



